name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  create_release:
    name: Create release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2

  #      - name: Output release url file
  #        run: echo "${{ steps.create_release.outputs.upload_url }}" > release_url.txt

  #      - name: Save release url file for publish
  #        uses: actions/upload-artifact@v1
  #        with:
  #          name: release_url
  #          path: release_url.txt

  publish_pypi:
    name: Build and publish package
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      # For PyPI's trusted publishing.
      id-token: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7
        with:
          enable-cache: true

      - name: Build
        run: uv build

      - name: Publish
        run: uv publish
